.item-list-container {
  padding: 2rem;
  text-align: center;
}

.welcome-message {
  color: #333;
  font-size: 2rem;
  border-bottom: 2px solid #ff5722;
  padding-bottom: 1rem;
  display: inline-block;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.productos {
  background: var(--light-gray);
  border-radius: 5px;
}