.item-list-container {
  padding: 2rem;
  text-align: center;
}

.bienvenida {
  color: #333;
  font-size: 3rem;
  padding-bottom: 1rem;
  display: inline-block;
}
.bienvenida-subtit {
  color: #666;
  font-size: 1.2rem;
}
.fila {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.fila img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}